:root{
  --color-black: #111;
  --color-white: #FFF;
  --color-gray-100: #EEEFF0;
  --color-gray-200: #D5D6D8;
  --color-gray-300: #BCBDC1;
  --color-gray-400: #8A8C93;
  --color-gray-500: #585A64;
  --color-gray-600: #4F515A;
  --color-gray-700: #35363C;
  --color-gray-800: #28292D;
  --color-gray-900: #1A1B1E;
  --color-red-100: #FFF5F5;
  --color-red-200: #FED7D7;
  --color-red-300: #FEB2B2;
  --color-red-400: #FC8181;
  --color-red-500: #F56565;
  --color-red-600: #E53E3E;
  --color-red-700: #C53030;
  --color-red-800: #9B2C2C;
  --color-red-900: #742A2A;
  --color-orange-100: #FFFAF0;
  --color-orange-200: #FEEBC8;
  --color-orange-300: #FBD38D;
  --color-orange-400: #F6AD55;
  --color-orange-500: #ED8936;
  --color-orange-600: #DD6B20;
  --color-orange-700: #C05621;
  --color-orange-800: #9C4221;
  --color-orange-900: #7B341E;
  --color-yellow-100: #FFFFF0;
  --color-yellow-200: #FEFCBF;
  --color-yellow-300: #FAF089;
  --color-yellow-400: #F6E05E;
  --color-yellow-500: #ECC94B;
  --color-yellow-600: #D69E2E;
  --color-yellow-700: #B7791F;
  --color-yellow-800: #975A16;
  --color-yellow-900: #744210;
  --color-green-100: #F0FFF4;
  --color-green-200: #C6F6D5;
  --color-green-300: #9AE6B4;
  --color-green-400: #68D391;
  --color-green-500: #48BB78;
  --color-green-600: #38A169;
  --color-green-700: #2F855A;
  --color-green-800: #276749;
  --color-green-900: #22543D;
  --color-teal-100: #E6FFFA;
  --color-teal-200: #B2F5EA;
  --color-teal-300: #81E6D9;
  --color-teal-400: #4FD1C5;
  --color-teal-500: #38B2AC;
  --color-teal-600: #319795;
  --color-teal-700: #2C7A7B;
  --color-teal-800: #285E61;
  --color-teal-900: #234E52;
  --color-blue-100: #EBF8FF;
  --color-blue-200: #BEE3F8;
  --color-blue-300: #90CDF4;
  --color-blue-400: #63B3ED;
  --color-blue-500: #4299E1;
  --color-blue-600: #3182CE;
  --color-blue-700: #2B6CB0;
  --color-blue-800: #2C5282;
  --color-blue-900: #2A4365;
  --color-indigo-100: #EBF4FF;
  --color-indigo-200: #C3DAFE;
  --color-indigo-300: #A3BFFA;
  --color-indigo-400: #7F9CF5;
  --color-indigo-500: #667EEA;
  --color-indigo-600: #5A67D8;
  --color-indigo-700: #4C51BF;
  --color-indigo-800: #434190;
  --color-indigo-900: #3C366B;
  --color-purple-100: #FAF5FF;
  --color-purple-200: #E9D8FD;
  --color-purple-300: #D6BCFA;
  --color-purple-400: #B794F4;
  --color-purple-500: #9F7AEA;
  --color-purple-600: #805AD5;
  --color-purple-700: #6B46C1;
  --color-purple-800: #553C9A;
  --color-purple-900: #44337A;
  --color-pink-100: #FFF5F7;
  --color-pink-200: #FED7E2;
  --color-pink-300: #FBB6CE;
  --color-pink-400: #F687B3;
  --color-pink-500: #ED64A6;
  --color-pink-600: #D53F8C;
  --color-pink-700: #B83280;
  --color-pink-800: #97266D;
  --color-pink-900: #702459;
}

@tailwind base;

@tailwind components;

@tailwind utilities;